#level-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#level-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Row 1 */
#level-2 .peas {
  grid-column: 2;
  grid-row: 1;
}

/* Row 2 */
#level-2 .onions {
  grid-column: 1;
  grid-row: 2;
}

#level-2 .tomatoes {
  grid-column: 3;
  grid-row: 2;
}

/* Row 3 */
#level-2 .lettuce {
  grid-column: 1;
  grid-row: 3;
}

#level-2 .carrots {
  grid-column: 3;
  grid-row: 3;
}

/* Level 3 */
#level-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  /* Row 1 */
  #level-3 .peas {
    grid-column: 1;
    grid-row: 1;
  }
  
  #level-3 .onions {
    grid-column: 3;
    grid-row: 1;
  }
  
  /* Row 2 */
  #level-3 .tomatoes {
    grid-column: 2;
    grid-row: 2;
  }
  
  #level-3 .lettuce {
    grid-column: 3;
    grid-row: 2;
  }
  
  /* Row 3 */
  #level-3 .carrots {
    grid-column: 2;
    grid-row: 3;
  }

  #level-4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  
  /* Row 1 */
  #level-4 .peas {
    grid-column: 2;
    grid-row: 1;
  }
  
  #level-4 .onions {
    grid-column: 4;
    grid-row: 1;
  }
  
  #level-4 .carrots {
    grid-column: 5;
    grid-row: 1;
  }
  
  /* Row 2 */
  #level-4 .tomatoes {
    grid-column: 1;
    grid-row: 2;
  }
  
  #level-4 .lettuce {
    grid-column: 3;
    grid-row: 2;
  }

  /* Level 5 */
#level-5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  /* Row 1 */
  #level-5 .carrots {
    grid-column: 1;
    grid-row: 1;
  }
  
  #level-5 .onions {
    grid-column: 2;
    grid-row: 1;
  }
  
  #level-5 .lettuce {
    grid-column: 4;
    grid-row: 1;
  }
  
  /* Row 2 */
  #level-5 .peas {
    grid-column: 4;
    grid-row: 2;
  }
  
  #level-5 .tomatoes {
    grid-column: 2 / span 2; /* long horizontal block */
    grid-row: 2;
  }

  /* Level 6 */
#level-6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  /* Row 1 */
  #level-6 .carrots {
    grid-column: 2;
    grid-row: 1;
  }
  
  /* Row 2 */
  #level-6 .onions {
    grid-column: 1;
    grid-row: 2;
  }
  
  #level-6 .peas {
    grid-column: 2;
    grid-row: 2;
  }
  
  #level-6 .tomatoes {
    grid-column: 3;
    grid-row: 2;
  }
  
  /* Row 3 */
  #level-6 .lettuce {
    grid-column: 2;
    grid-row: 3;
  }

  #level-7 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  
  #level-7 .peas     { grid-column: 1; }
  #level-7 .onions   { grid-column: 2; }
  #level-7 .tomatoes { grid-column: 3; }
  #level-7 .lettuce  { grid-column: 4; }
  #level-7 .carrots  { grid-column: 5; }

  #level-8 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #level-9 {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-auto-rows: 5rem;
  }